<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>UI Scholarship</title>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>Scholarship Check</h2>
    </div>
    <div class="col-md-8 order-md-1">
      <h4 class="mb-3">Student Information</h4>
      <form method="post" class="need-validation" novalidate>
        <label for="id">ID</label>
        <input type="text" name="id" id="id" class="form-control" placeholder=""><br>
        <hr class="mb-4">
        <button type="submit" class="btn btn-success btn-lg btn-block">Check</button>
      </form>

    </div>
</div>
</body>
</html>